body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    padding-bottom: 1%;

}

.bottom {
    color: white;
    width: 60%;
    padding: 20%;
    margin-right: 50px;
    background-image: url(images/donation4.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;

}

z .bottom img {
    width: 50%;
    padding: 70%;

}

.link-button {
    text-decoration: none;
    margin-top: 100px;
    color: white;
    font-weight: 700px;
    background-image: linear-gradient(rgb(12, 12, 128), rgb(228, 166, 228));
    padding: 5px 40px;
    border-radius: 5px;
}

.middle {
    text-align: center;
}

.box {
    width: 220px;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 10px 10px 40px rgb(83, 81, 81);
    background-color: rgb(251, 234, 253);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.middle2 {
    text-align: center;
}

.box2 {
    width: 220px;
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-shadow: 20px 20px 40px rgb(83, 81, 81);

}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

#food {
    background-color: beige;
    border-left: 5px solid rgb(34, 15, 88);
}

#shelter {
    background-color: rgb(207, 199, 191);
    border-bottom: 5px solid rgb(34, 15, 88);
}

#frame {
    background-color: rgb(245, 220, 220);
    border-left: 5px solid rgb(34, 15, 88);
}

.middle3 {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.half-width img {
    width: 90%;
}

.middle4 {
    background-color: rgb(217, 219, 221);
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.update {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 {
    width: 220px;
    height: 90px;
    margin-left: 33%;
    margin-right: 20%;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 10px 10px 40px rgb(83, 81, 81);
    background-color: rgb(251, 234, 253);
}